
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.description{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.ourTeam{
    margin-bottom:10px !important ;
}
.story{
    list-style: none;
    margin-bottom: 10px;
}
.list{
    margin-bottom:10px ;
}

.lastChild{
    margin-bottom:20px
}


.rules{
    margin-top: 20px;
}

.rulesList{
 display: flex;
 width: 100%;
 margin-top: 5px;
}
.container{
    color: white;
}
.header-texts{
    font-size: 3rem;
    padding-top: 22px;
    padding-bottom:20px;
}
.story{
    padding-top: 25px;
    padding-bottom: 25px;
}
.list{
    padding-top: 25px;
    padding-bottom: 25px;
}
.lists{
    padding-top: 8px;
    padding-bottom: 20px
}
