.sidebar {
  background-color: #202020;
  width: 0;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem 2rem;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 3;
  overflow-y: auto;
  overflow-x: hidden;
}

/* State when sidebar is open */
.sidebar.open {
  width: 27%;
  opacity: 1;
  transition: width 0.2s ease, opacity 0.1s ease;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width : 768px) {
  .sidebar.open {
    width: 100% !important;
  }
}

.sideBarCloseIcon {
  height: 7rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sideBarCloseIcon i {
  padding-right: 1rem;
  cursor: pointer;
  font-size: 2.7rem;
}

.content-container {
  margin-top: 2rem;
}

.content-container ul {
  list-style: none;
  padding-left: 0 !important;
  padding: 1rem 1rem !important;
}

.data-content-ul .data-content-li a {
  font-size: 2.5rem;
  font-family: sans-serif !important;
  letter-spacing: 1px;
}

.siderBarIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

.liData {
  height: 0;
  overflow: hidden;
}

.acordianDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.liData li {
  padding-top: 10px;
  font-weight: 800;
}

.liData li:first-child {
  padding-top: 0 !important;
}

.liData.open {
  height: 100%;
  transition: all 0.5s ease;
}

.acordianIcon.rotate {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.acordianIcon {
  font-size: 2.1rem;
  color: #7d581b;
}

.acordianIcon.rotateNormal {
  transform: rotate(none);
  transition: all 0.5s ease;
}

.liData ul {
  padding-left: 0 !important;
}

.liData a {
  font-size: 1.3rem !important;
}